/* Mobile-first responsive design */
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 28px;
    border-radius: 7px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: 10px;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
}

.heading {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
    position: relative;
    animation: fadeIn 1.2s ease;
}

/* Fade-in animation for heading */
@keyframes fadeIn {
    0% {
        opacity:
